body {
  margin: 0;
  font-family: 'Your preferred font', sans-serif;
  background: linear-gradient(160deg, #efef15, #15ef47, #153fef, #ef15d7, #3515ef, #ef8215, #15ef90);
  background-size: 1400% 1400%;
  color: #fff;
   
  -webkit-animation: AnimationName 19s ease infinite;
  -moz-animation: AnimationName 19s ease infinite;
  -o-animation: AnimationName 19s ease infinite;
  animation: AnimationName 19s ease infinite;

}
@-webkit-keyframes AnimationName {
  0%{background-position:44% 0%}
  50%{background-position:57% 100%}
  100%{background-position:44% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:44% 0%}
  50%{background-position:57% 100%}
  100%{background-position:44% 0%}
}
@-o-keyframes AnimationName {
  0%{background-position:44% 0%}
  50%{background-position:57% 100%}
  100%{background-position:44% 0%}
}
@keyframes AnimationName {
  0%{background-position:44% 0%}
  50%{background-position:57% 100%}
  100%{background-position:44% 0%}
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.user-list {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.user-list-item {
  background-color: #222;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .user-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.user-table {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;  /* Add horizontal scroll for small screens if needed */
}

/* Styles for the table headers */
.table-row {
  background-color: green;
  border: 1px solid white;
}

/* Responsive styles for table cells */
@media screen  and (max-width: 767px) {
  /* Adjust styles for smaller screens */
  .table td,
  .table th {
    font-size: 12px; /* Adjust font size */
    padding: 8px; /* Adjust padding */
  }

}